body {margin: 0px !important;}

textarea {resize:none;}
td {height: 20px;}
table {border-collapse: separate;}
table, td, th {border: 1px solid black}

table.listTable, .listTable td, .listTable th {
	border: none !important;
}


h1 {font-size: 40px; 
	margin-bottom:0px; 
	text-align: center; 
	margin-top:0; 
	padding-top: 2px; 
	font-family: gaelic;}
h2 {margin-bottom: 3px; font-family: blackcha; font-variant: small-caps;}
h3 {font-size: 16px; margin-bottom: 3px; font-family: blackcha;}
h4 {font-size:14px; margin-bottom: 5px; margin-top: 15px;}
h5 {margin-bottom: 5px; margin-top: 15px;}
p {margin-bottom: 0px;}
a {text-decoration: none;}

@font-face { font-family: wizzta; src: url(../fonts/wizzta.ttf); }
@font-face { font-family: dragonfly; src: url(../fonts/Dragonfly.ttf); }
@font-face { font-family: pebbles; src: url(../fonts/pebbles.ttf); }
@font-face { font-family: moonshadow; src: url(../fonts/moonshadow.ttf); }
@font-face { font-family: dragonsong; src: url(../fonts/Dragonsong.ttf); }
@font-face { font-family: mso; src: url(../fonts/MagicSchoolOne.ttf); }
@font-face { font-family: cosmic; src: url(../fonts/CosmicLove.ttf); }
@font-face { font-family: chopin; src: url(../fonts/ChopinScript.otf); }
@font-face { font-family: blackcha; src: url(../fonts/Blackcha.ttf); }
@font-face { font-family: daniel; src: url(../fonts/Daniela.ttf); }
@font-face { font-family: gaelic; src: url(../fonts/GAELIC.TTF); }
@font-face { font-family: adine; src: url(../fonts/AdineKirnberg-Alternate.ttf); }
@font-face { font-family: po8; src: url(../fonts/PiecesofEight.ttf); }
@font-face { font-family: couture; src: url(../fonts/couture-bld.otf); }



.flex{display:flex; align-items: flex-start;}
.indent40 {padding-left: 40px;}
.filledField{
	text-align: center;
	background-color: #a0a0a0;
	border-radius: 5px;
	color: black;
	border: 1px solid black !important;
}

.coreAttributes {
	float: left;
	height:306px;
	width: 125px;
}

.genAtt {color: white;}

.physicalAtt {
	border-style: solid;
	border-width: 2px;
	border-color: #4D0708;
	background-color: #BD534D;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

.mentalAtt {
	border-style: solid;
	border-width: 2px;
	border-color: #082466;
	background-color: #6385BE;
}

.socialAtt {
	border-style: solid;
	border-width: 2px;
	border-color: #311530;
	background-color: #72639F;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.mSec {background-color: #5D89A9;}
.pSec {background-color: #BD534D;}
.sSec {background-color: #7B4B84;}

.skillList
{
	background-color: black;
	padding: 1px 1px 2px 1px;
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
}


.bodyColor {background-color: #efefef; color: #333; width: 90%;}
.mindColor {background-color: #19315C; color:white;}
.spiritColor{background-color: #281957; color:white;}

.mightSkill, .brawnSkill { background-color: #E06666;}
.agilitySkill { background-color:  #EA9999;}
.willSkill, .resolveSkill { background-color: #A4C2F4;}
.witSkill { background-color: #C9DAF8;}
.vigorSkill, .faithSkill { background-color: #8E7CC3;}
.empathySkill { background-color: #B4A7D6;}

.physicalTalent { background-color: #b36b00 !important; color: white; }
.mentalTalent { background-color: #006666 !important; color: white;}
.socialTalent { background-color: #8E7CC3 !important; color: white;}
.physicalNonAtkMan {background-color: #ac3939 !important; color: white;}
.mentalNonAtkMan {background-color: #004c99 !important; color: white;}
.socialNonAtkMan {background-color: #7300e6 !important; color: white;}
.physicalAtkMan {background-color: #5F1817 !important; color: white;}
.mentalAtkMan {background-color: #204077 !important; color: white;}
.socialAtkMan {background-color: #4f1f4c !important; color: white;}
/*.physicalAtkMan {background-color: #800000 !important; color: white;}
.mentalAtkMan {background-color: #002266 !important; color: white;}
.socialAtkMan {background-color: #862d59 !important; color: white;}*/
.physicalExploit {background-color: #cc9900 !important; color: white;}
.mentalExploit {background-color: #A4C2F4 !important; color: white;}
.socialExploit {background-color: #B4A7D6 !important; color: white;}


.borderNone {border-style:none;}


abbr {
	position: relative;
	display: inline;
	border-bottom: 1px dotted black;
	z-index: 1;
}

abbr::before {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
  left: 30%;
  content: "";
  border-style: solid;
  border-width: 9px 12px 0 12px;
  border-color: black transparent transparent transparent;
  margin-top:-4px;
}

abbr:hover:after {visibility: visible;}
abbr:hover:before {visibility: visible;}

table { empty-cells: hide;}


abbr.vigilant::after{content: "Attackers get -1 die, +1 Guard vs Scolds and you have +1 Armor against AoE";}
abbr.boosted::after{content: "+1 die to rolls";}
abbr.haste::after{content: "+1 Action";}
abbr.quick::after{content: "+1 Move";}
abbr.focused::after{content: "+1 Focus";}


abbr.breached::after{content: "Attackers get +1 die and you have -1 Armor against AoE";}
abbr.impaired::after{content: "-1 die on rolls";}
abbr.blind::after{content: "Can not use Potence \A -1 die on all attacks and phyical skills \A Can not Threaten or Cover";}
abbr.dizzy::after{content: "Can not use Conjurations or Divinations \A -1 die on all attacks and mental skills \A Can not Threaten or Cover";}
abbr.gagged::after{content: "Can not use Inovcations \A -1 die on all attacks and all social skills \A Can not Threaten or Cover";}

/* Durations */
abbr.short::after {content: "First use or end of creators next turn";}
abbr.round::after{content: "Until end of creators next turn";}
abbr.combat::after{content: "Until you take a breather";}
abbr.rest::after{content: "Until you take a short rest";}
abbr.day::after{content: "Until you take a long rest";}
abbr.chronic::after{content: "No duration end";}


abbr.stun::after{content: "Can not act, move, or focus";}
abbr.restrained::after{content: "-1 Attack Action";}
abbr.slow::after{content: "-1 Move Action";}
abbr.dazed::after{content: "-1 Minor Action";}

abbr.burning::after{content: "Take 1 damage at the beginning of your turn for each instance of Burning";}
abbr.bleeding::after{content: "Take 1 Pure damage for each Action, Move, Focus, or Reaction taken";}
abbr.vulnerable::after{content:"Increase damage taken by 1 for each instance of damage";}
abbr.meek::after{content:"Decrease damage dealt by 1 for each instance";}
abbr.pure::after {content: "Damage that ignores armor";}
abbr.persistent::after{content:"Damage that also reduces maxmimum HP";}
abbr.psychic::after {content: "Damage that ignores armor, but can not damage things without a mind";}
abbr.poisoned::after {content: "While poisoned all damage you take is persistent";}

/* Armor Penalties */
abbr.lightPen::after {content: "Impairs: Blasts, Sprint, and Swim";}
abbr.medPen::after {content: " Impairs: \A Ranged Strikes, Jumping, Climbing and Running \A Impairs Twice:; \A Blasts Acrobatics, Dance, Sneaking, Sprint, and Swim \A Acrobatics and Sneak Tricks and Arcana can not be used"; white-space: pre-wrap;}
/* abbr.heavyPen::after {content: "-1 Pace \A -3 to Blast Rolls \A -2 to hit with Ranged Strikes \A -3 to sprinting and swimming rolls \A -2 to jumping, climbing and jogging rolls \A -4 to all rolls when using the Acrobatics, Dancing or Sneaking skills \A Can not use any abilities from Acrobatics, Dancing or Sneaking skills"; white-space: pre-wrap;} */
abbr.shieldPen::after {content: "Impairs: Blast";}

/* Fluff Terms */
abbr.yon::after {content: "Pronounced (Y-oh-n). Series of movements used for Conjurations";}

.abilityFieldset{border-radius: 4px;padding:5px;}
.talentFieldset{border:3px solid rgba(106, 135, 125, 1); background-color: rgba(106, 135, 125, 0.2);}
.namFieldset{border:3px solid rgba(63, 116, 106, 1); background-color: rgba(63, 116, 106, 0.2);}
.amFieldset{border:3px solid rgba(0, 72, 33, 1); background-color: rgba(0, 72, 33, 0.2);}
.ritualFieldset{border:3px solid rgba(25, 49, 92, 1); background-color: rgba(25, 49, 92, 0.2);}
.gearFieldset{border:3px solid rgb(0,0,0, 1); background-color: rgb(0,0,0, 0.2);}
.ritualFull{width:600px !important; margin-left:-30px;}
.weaponFieldset{border:3px solid rgb(95, 24, 23, 1); background-color: rgb(95, 24, 23, 0.2);}

.abilityLegend{
	border:1px solid black;
	color:white;
	padding: 2px 8px 2px 8px;
	border-radius: 30px;
	font-variant: small-caps;
	font-size:18px;
	font-family: blackcha;
	letter-spacing: 1px;
}

.talentLegend{background-color:rgb(106, 135, 125, 1);}
.namLegend{background-color:rgb(63, 116, 106, 1);}
.amLegend{background-color: rgba(0, 72, 33, 1);}
.ritualLegend{background-color:rgb(25, 49, 92, 1);}
.weaponLegend{background-color:rgb(95, 24, 23)}
.gearLegend{background-color: rgb(0,0,0, 1);}
/*old ritual color rgb(49, 116, 130, 1); */
.abilityKeywords{font-style: italic;}

.abilityFieldEven{
	background-color: rgb(210, 210, 210, 0.8);
	padding: 3px;
	margin-top:3px;
	font-size:14px;
}

.abilityFieldOdd {
	background-color: rgb(255, 255, 255, 0.8);
	margin-top:3px;
	padding:3px;
	font-size:14px;
}

.charSheetAbility{
	width:310px;
	margin-top:5px;
}

.abilityOverflow{
	max-height: 340px;
	overflow-y: scroll;
	overflow-x: hide;
}

abbr::after {
	border-color: black;
	border-radius: 8px;
	border-width: 3px;
	border-style: solid;
	display: block;
	position: absolute;
	visibility: hidden;
	text-align: center !important;
	width: 270px;
	bottom: 17px;
  background-color: black;
  color: white;
	padding: 5px 8px;
	border-radius:5px;
}


.filledField{
	text-align: center;
	background-color: #a0a0a0;
	border-radius: 5px;
	color: black;
	border: 1px solid black !important;
  max-height:20px;
}


/* Structure */
.column1 {margin-left: -2px;margin-right: 15px;}
.column2{}
.column3 {margin-left: 15px;}

.statsWrapper {display: flex;flex-direction: row;}


/* Character Info Bar */
#charInfo{
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	padding-left: 5px;
	background-color: black;
	color:white;
	margin: -5px 10px 10px 0px;
	padding-bottom: 4px;
}

#BreedSelector {
    background: #fff;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px auto;
    border: 1px solid #999;
    width: 100% !important;
    height: 16px;
    margin-top: 2px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    align-content: center;
}

#characterName {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
#characterBreed {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
#characterBreed > select {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
#playerName {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
#characterHeight {
    padding-left: 5px !important;
    padding-right: 6px !important;
}
#characterWeight {
   padding-left: 6px !important;
   padding-right: 4px !important;
}
#characterHair {
   padding-left: 6px !important;
   padding-right: 4px !important;
}
#characterEyes {
   padding-left: 6px !important;
   padding-right: 4px !important;
}
#characterBuild {
   padding-left: 6px !important;
   padding-right: 4px !important;
}
#characterAge {
   padding-left: 6px !important;
   padding-right: 4px !important;
}
#characterOccupation {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
#characterResidence {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.detailSmall {
    width: 32%;
}

.detailMedium {
    width: 100%;
}

.detailLarge{
    width: 95%; 
}

.detailText{
    border: 1px solid #777;
    height: 14px; 
    padding-left: 5px;
    font-size: 12px;
    background: #fff;
}
.detailLabel{
    border: 1px solid #777;
    height: 10px;
    margin-top: 2px;
    padding-left: 5px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    background: #777;
    color: #fff;
    text-align: center;
}
.PhysiqueTitle {
    font-weight: 700; 
    font-size: 16px; 
    color: #C13; 
    text-transform: uppercase;
}
.IntellectTitle {
    font-weight: 700; 
    font-size: 16px; 
    color: #139; 
    text-transform: uppercase;
}
.SpiritTitle {
    font-weight: 700; 
    font-size: 16px; 
    color: #193; 
    text-transform: uppercase;
}


#charLvl {width: 29px;}
#youth {width: 90px;}
#training {width: 90px;}
#roleSelector {width: 110px; margin-left: 5px; margin-right:5px;}
#charSave {width: 40px; margin-right:5px; margin-top:4px; border-radius: 6px; padding:2px; background-color:white; float:right;}


.charInfoHover{
  position:relative;
  top:4px;
  height:16px;
  width:16px;
  background-color:white;
  border-radius: 3px;
  cursor:alias;
}

.charInfoHover:hover + .charDetails{display: block !important;}

.charDetails {
  position:absolute;
  display:none;
  width:650px;
  left:40px;
  padding:25px;
  border-radius:8px;
  box-shadow: 0px 0px 10px 3px rgba(10, 10, 10, 0.75);
  background-size: 100% 100%;
  cursor: all-scroll;
  z-index: 100;
  color:black;
  border: 3px solid black;
  opacity:1 !important;
}

.checkSection{}
#checkList{background-color: rgb(0,0,0,1);}
#skillPoints, #abilityNumber, #remainingAbilities, #maxSkillRank{width:30px; border-radius:3px; text-align: center; border:1px solid black; margin:0px 3px 0px 3px; background-color:rgb(168,168,168);}
#maxSkillRank{width:60px;}



#birthplace {width:40px;}
#childhoodStory{width:640px;height: 80px;}
#trainingStory{width:640px;height: 80px;}
#journalStory{width:640px;height: 80px;}

#backpack{width:650px;}
.gearInput {width:100px;}
#gearBucket {width:638px; height:80px; margin-top:5px;}

.pcNotes {width:640px; height:80px;}

/* Attributes */

#physicalStatsWrapper {background-color: #B07C71;margin-bottom: 5px;width:100%;}
#mentalStatsWrapper {background-color: #9BAABF;margin-bottom: 5px;width: 100%;}
#socialStatsWrapper {background-color: #797781;width: 100%;}

#bodyPriority {}


.attributeSelect {
	width: 70px;
	border-radius: 8px;
	height: 20px;
	border-color: black;
	font-size: 	12px;
}

.attributeWrapper {
	width: 65px;
	height: 132px;
	padding: 6px;
	border-radius: 	8px;
	display:flex;
	flex-direction: column;
  align-items: center;
  border: 2px solid black;
}

.attribute {
	display:flex;
	flex-direction: column;
	align-items: center;
  margin-top: 5px;
  width:70px;
  margin-bottom: 5px;
	padding-top: 8px;
	padding-bottom:8px;
	border-radius: 4px;
	border: 1px solid black;
}

.subAttributeWrapper {}

.subAttribute {
	padding:3px;
	width: 53px;
	height: 40px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.subMiddle {margin-top: 2px;margin-bottom: 2px;}


/* Secondary Stats */

.secondaryAttributesWrapper {margin-left: 110px;}
.characterImage{width:200px;height:200px;border:1px solid green;}
.secondaryAttributes{}
#secondaryAttributeValues {display:flex; }
.genAtt { width: 50px; text-align:center; text-align:center; border: 1px solid black;}


#maxHpValue {position: absolute;top: 3px;left: 17px;font-size: 30px;}
#marredValue {position: absolute; top: 3px;left: 75px;font-size: 30px;}
#desperateValue {position: absolute;top: 3px;left: 133px;font-size: 30px;}
#deadValue{position:absolute;top:8px;left: 193px;color:whitesmoke;font-size:20px;}

.attributeEntry{position: relative; width: 60px;height:40px;}
#HP {width: 240px;background: url('../img/hp2.png') no-repeat center top;background-size: 100% 100%;}
#recovery {background: url('../img/recPts.png') no-repeat center top;background-size:contain;}

#guard {background: url('../img/guard.png') no-repeat center top;background-size:contain;}
#initiative {background: url('../img/initiative.png') no-repeat center top;background-size:contain;}
#initialMomentum {background: url('../img/initialMomentum.png') no-repeat center top;background-size:contain;}
#conversion {background: url('../img/conversion.png') no-repeat center top;background-size:contain;}
#mana {background: url('../img/mana.png') no-repeat center top;background-size:contain;}

#armor {background: url('../img/armor.png') no-repeat center top;background-size:contain;}
#pace {background: url('../img/pace2.png') no-repeat center top; 	background-size:contain;}
#run{background: url('../img/run2.png') no-repeat center top; 	background-size:contain;}
#sprint {background: url('../img/sprint2.png') no-repeat center top; 	background-size:contain;}
#fatigue {background: url('../img/fatigue.png') no-repeat center top; 	background-size:contain;}


.attributeDesc{width: 60px;text-align:center;font-size: 12px;}
#paceDesc {}
#runDesc {}
#sprintDesc {}
#fatigueDesc {}
#initiativeDesc {}
#recoveryDesc {}
#initialMomentumDesc {}
#manaDesc{}
#conversionDesc {}
#armorDesc{}
#guardDesc{}
#maxHPDesc, #marredDesc, #desperateDesc,#deadDesc {}

.attributeValue{ position: relative; color:whitesmoke; text-align: center; font-size:20px;}
#guardValue{top: 7px; font-size:20px;}

#initiativeValue {
	top: 8px;
	left: 17px;
	width: 20px;
	background:rgb(1,1,1,1);
	border-radius: 50%;
	padding:0px 4px 1px 2px;
}


#initialMomentumValue {
	top:8px;
	left: 20px;
	width: 20px;
	border-radius: 50%;
	background:rgb(1,1,1,0.3);
	text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
}

#manaValue {
	top: 8px;
	left: 20px;
	width: 20px;
	border:none;
	border-radius: 50%;
	background:rgb(1,1,1,0.5);
	text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
}

#conversionValue {
	top:8px;
	left: 21px;
	width:20px;
	border-radius: 50%;
	background:rgb(1,1,1,0.4);
	text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
}

#armorValue{
	top: 9px;
	left: 25px;
	width: 8px;
}

#fatigueValue {
	top: 6px;
	left: 20px;
	width: 16px;
	border: none;
	border-radius: 50%;
	background:rgb(1,1,1,0.3);
	text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
}

#paceValue{
	top: 18px;
	left: 10px;
	font-size:18px;
}

#runValue{
	top: 2px;
	left: 12px;
	font-size:14px;
}

#sprintValue{
	top: 2px;
	left: -8px;
	font-size:14px;
}

#recoveryValue {
	top: 4px;
	left: 25px;
	width: 8px;
}

/* Skills */

.skillWrapper {display: flex;flex-direction: column;}

.skillListing {
  display: flex;
  height: 20px;
  border: 1px solid black;
  padding-left: 2px;
}

#skillHeader {
	background-color: black;
	color: white;
	margin-left: 142px;
	width: 255px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

#attackSkillHeader {
	background-color: black;
	color: white;
	width: 236px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.skillListingMidTop{margin-top: 8px;}
.skillListingMidBot{margin-bottom:8px;}
.skillName {width:71px;}
.attackSkillName{width: 50px;}
.skillRank {width:95px;}
.skillMod {width: 35px;}
.skillPassive {width: 50px;}

/* Attack Skills */

#strikeWrapper {width:236px;}
#blastWrapper {width: 236px;}
#scoldWrapper {width: 236px;}

#strikeProfContainer, #blastProfContainer, #scoldProfContainer {
	border-style: solid;
	border-width: 1px;
	padding-top: 7px;
	padding-left: 5px;
	width: 233px;
	height: 115px;
	padding-bottom: 2px;
	margin-bottom: 5px;
}
#strikeProfContainer, #physicalAttributePoints{border-color: #4D0708; background-color: #B07C71;}
#blastProfContainer, #mentalAttributePoints {border-color: #19315C; background-color: #9BAABF;}
#scoldProfContainer, #spiritAttributePoints {border-color: #281957; background-color: #797781;}

.attributePoints{
	width:40px;
	border:1px solid;
	text-align: center;
	margin-top:1px;
	font-size:14px;
	border-radius: 4px;
	padding-top:2px;
}

.exploitDesc {
	font-size: 12px;
	background-color:white;
	width: 210px;
	margin-bottom:2px;
	margin-left:8px;
	border-radius: 4px;
	border: 3px black solid;
	display:none;
	position:absolute;
	left: 220px;
	bottom:0px;
	z-index: 10;
}

.exploitDesc:empty{border:none;}
.scoldProfSelector, .strikeProfSelector {position:relative;}
.scoldProfSelector:hover .exploitDesc, .strikeProfSelector:hover .exploitDesc {display:block;}
.profSelector, .exploitSelector {width: 230px !important; font-size: 12px; margin-bottom: 4px;}

/* Gear */

#weaponHeader {background-color: black;color:white;border-radius: 4px 4px 0px 0px;text-align:center;}

#weaponList {
  background-color:rgb(95, 24, 23, 0.5);
  border: 2px solid #4D0708;
  border-radius: 4px 4px 0px 0px;
  margin-bottom:5px;
}

.weaponCS {font-weight:bold; margin-right:2px;}

#armorList {
  background-color:rgb(25, 49, 92, 0.5) !important; 
  margin-bottom:5px;
  border: 2px solid #19315C;
}

#ritualList {
  background-color:rgb(25, 49, 92, 0.5) !important; 
  height: 135px;
  border: 3px solid #19315C;
  margin-bottom:5px;
  max-width: 320px;
  margin-top:4px;
}

.ritualListing {
	background-color: #6385BE;
	padding-left: 5px;
	border-style: double;
	margin-bottom: 3.5px;
	display: flex;
	position:relative;
}

.ritualEntry {
	background-color:rgb(155, 170, 191);
	margin-bottom:2px;
}


.ritualSelector{margin-right:4px !important;}

.showRitualDetails{
  position:relative;
  height:12px;
  width:12px;
  background-color:white;
  border-radius: 4px;
  margin-left:10px;
  margin-top:1px;
  cursor:alias;
  border:1px solid black;
  z-index: 10;
}

.showRitualDetails:hover + .ritualDetails{display: block !important;}

.ritualDetails {
  position:absolute;
  display:none;
  width:700px;
  left:-400px;
  top:20px;
  cursor: all-scroll;
  z-index:100;
  background-color:rgb(25, 49, 92, 0.5) !important; 
}

.ritualBody{width: 700px;max-height: 700px;overflow: scroll;background-color:#9BAABF !important;}
.ritualHeader{}
.closeRitual {
  cursor: alias;
  position:absolute;
  width:10px;
  height:10px;
  right: 15px;
  top:1px;
  text-align: center;
  color:rgb(173, 173, 173);
  font-size: 14px;
  background:none !important;
  font-family: wizzta;
  font-weight: bold;
}

.column3Legend{width:114px !important;}
#weaponAmount {background-color:rgb(95, 24, 23); color:rgb(230, 230, 230); padding:0px; width:30px !important; border:none; font-weight:bold}
#ritualAmount, #armorAmount{background-color:rgb(25, 49, 92); color:rgb(230, 230, 230); padding:0px; width:30px !important; border:none; font-weight:bold;}
.ritualCost{width: 45px; margin-left:2px; margin-right:2px;}
.ritualCastTime{width:70px;overflow: hidden;}
.ritualDuration{width:60px;overflow:hidden;margin-left:2px;margin-right:2px;}
.ritualDetails div:nth-of-type(even){background-color:#adad85; margin-bottom:2px;}
.ritualDetails div:nth-of-type(odd){background-color:#e6e6e6; margin-bottom:2px;}
.ritualDescLine {padding-left: 5px;}

.praeFullRitualContainer{padding:2px;border-radius: 8px;margin-top:3px; margin-top:-1px;}
.praeFullRitualContainerLegend{border-radius:6px;color:whitesmoke;border:1px solid black;}
.praeFullRitualHeader{display:flex;margin-bottom:3px;}
.praeFullRitualHeaderName{width:108px; height:13px;font-size:13px;color:lightgray; font-variant: small-caps; display:block; padding-left:3px;}
.praeFullRitualHeaderCost{width:40px; text-align:center;height:13px;font-size:13px;color:lightgray; font-variant: small-caps; display:block;}
.praeFullRitualHeaderCastTime{width:65px;height:13px;font-size:13px;color:lightgray; font-variant: small-caps; display:block;text-align: center;}
.praeFullRitualHeaderDuration{width:70px;height:13px;font-size:13px;color:lightgray; font-variant: small-caps; display:block;text-align: right; margin-left:4px;}
.praeFullRitualName{width:111px; font-size:12px; border:none; border-radius: 0px; background-color:rgb(155, 170, 191); padding:0px; margin:0px;}
.praeFullRitualCost{width:40px;font-size: 12px;text-align: center;}
.praeFullRitualCastTime{width:65px;text-align: center;font-size:12px;}
.praeFullRitualDuration{width:70px;font-size:12px;text-align: right;}

.praeFullWeapon{background-color:rgb(176, 124, 113); margin-top:2px; padding-left:3px; height:16px; width:310px;}

.praeFullWeaponHeader{font-size:13px; padding-left:5px; height:16px;}
.praeFullWeaponName{width:80px;font-size:10px; border:none; background-color:rgb(176, 124, 113);}
.praeFullWeaponType{width:78px;font-size:11px; border:none; background-color:rgb(176, 124, 113);}
.praeFullWeaponLoad{width:50px;font-size: 11px; text-align-last: center; text-align: center;border:none; background-color:rgb(176, 124, 113);}
.praeFullWeaponDamage{width:25px;text-align: right;font-size:10px; border:none; border-radius: 0px; background-color:rgb(176, 124, 113);} 
.praeFullWeaponCriticalEffect{font-size:11px;justify-content: flex-end;padding-right:5px;}


.praeFullArmorContainer{padding:2px;border-radius: 8px;}
.praeFullArmorContainerLegend{border-radius:6px;color:whitesmoke;border:1px solid black;}
.praeFullArmorHeader{font-size:13px; padding-left:5px; margin-top:3px;}
.praeFullArmorHeaderType{width:80px;height:13px;font-size:13px;color:lightgray; font-variant: small-caps; display:block;}
.praeFullArmorHeaderLoad{width:50px;height:13px;font-size:13px;color:lightgray; font-variant: small-caps; display:block;text-align: center;}
.praeFullArmorHeaderBonus{width:70px;height:13px;font-size:13px;color:lightgray; font-variant: small-caps; display:block;text-align: center;}
.praeFullArmorHeaderRestriction{padding-right:2px;width:105px;height:13px;font-size:13px;color:lightgray; font-variant: small-caps; display:block;text-align:right;}
.praeFullArmorType{width:80px;height:16px; font-size:12px; border:none; border-radius: 0px; background-color:rgb(155, 170, 191);}
.praeFullArmorLoad{width:50px;height:16px; font-size:12px; text-align:center; border:none; border-radius: 0px; background-color:rgb(155, 170, 191); padding:0px; margin:0px;}
.praeFullArmorBonus{width:70px;text-align: center;height:14px;font-size:12px; margin-top:2px;}
.praeFullArmorRestriction{width:110px;height:14px;font-size:12px;text-align: right;  margin-top:2px}


#gearList{height:307px; position: relative;}
.praeFullGearContainer{padding:2px;border-radius: 8px;margin-top:3px;}
.praeFullGearContainerLegend{border-radius:6px;color:whitesmoke;border:1px solid black;}
.praeFullGearHeader{display:flex;border:1px solid black;}
.praeFullGearHeaderAmt{width:30px;height:13px;font-size:13px;color:lightgray; font-variant: small-caps; display:block;}
.praeFullGearHeaderItem{width:230px;height:13px;font-size:13px;color:lightgray; font-variant: small-caps; display:block;text-align:center;}
.praeFullGearHeaderLoad{width:30px; height:13px;font-size:13px;color:lightgray; font-variant: small-caps; display:block;text-align: right;}
.praeFullGearAmt{width:30px;height:14px; font-size:12px;text-align: center; background-color: rgb(210,210,210); border:none;}
.praeFullGearLoad{width:33px; height:14px; font-size:12px;text-align: center; background-color: rgb(210,210,210); border:none;}
.praeFullGearItem{width:235px;height:14px;font-size: 12px;text-align: center; padding-left:0px; padding-right:0px; background-color: rgb(210,210,210); border:none;}

.praeCoins{background-color:rgba(0, 0, 0, 1); width:95%; color:whitesmoke; border-radius: 8px 8px 0px 0px; padding: 0px 5px 0px 5px; position:absolute; bottom:0px; justify-content: space-between;}
.praeMoney{width:30px; background-color: rgb(210,210,210); text-align: center;}

.armorEntry{
	background-color:rgb(155, 170, 191);
	margin-top:3px;
}

.armorPen {
	margin-left: 8px;
	height: 15px;
	width: 90px;
	padding-left: 5px;
	padding-right:5px;
}


.gearListing {
  background-color:silver;
  border-style: double;
  display: flex;
  flex-wrap: wrap;
}

.gearEntry {margin: 3px; height: 13px; width: 147px;}


/* abilities */
.abilityWrapper {
	width: 100%;
	height: 100%;
	display:flex;
}

#talentHeader, #nonAtkManHeader, #atkManHeader, #exploitHeader {
  background-color: black;
  color:white;
  border-radius: 8px 8px 8px 8px;
  text-align:center;
}

#atkManAmount, #talentAmount, #exploitAmount, #nonAtkManAmount {width:40px;}

.talentWrapper {width: 330px;height: 250px;border-radius: 8px 8px 0px 0px;margin-right:4px;}
.nonAtkManWrapper {width: 330px; height: 250px;border-radius: 8px 8px 0px 0px;margin-right:4px;}
#atkManWrapper {width: 330px;height: 250px;border-radius: 8px 8px 0px 0px;margin-right:4px;}
.exploitWrapper {width: 250px;height: 200px;border-radius: 8px 8px 0px 0px;}

.inputField{width: 30px;}
.attackSkills {margin-left: 1px;}
.nonAttackSkills {margin-left: 1px;}

.charInfo{
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	padding-left: 5px;
	background-color: black;
	color:white;
	height: 20px;
}

.hidden {
	display:none !important;
}

.showButton{
	display: inline-block;
	border-radius: 10px;
	margin-top: 3px;
	border: none;
	background: none;	
	font-family: wizzta;
	font-size: 20px;
}

.hide {
	border: none;
	border-radius: 9px;
	line-height: 8px;
	font-size: 8px;
	padding:0px 3px 1px 3px;
	background: none;
}

.hideWrapper {
	position: relative;
	text-align: center;
}


.section:nth-of-type(odd) header {
	height:30px;
	width: 1140px;
}

.section:nth-of-type(odd) footer {
	height:30px;
	width:1140px;
	margin-top:-5px;
}

.section:nth-of-type(odd) article {
	padding-left:30px;
	padding-right:30px;
	margin-left: 30px;
    width: 1140px;
}


.footerText {transform: scaleY(-1);text-align:center;}
.draggable {}
::-webkit-scrollbar { display:none !important; }
.abilityLegend{height:22px;width:100%;font-size:14px !important;}
