<HTML></P><P ALIGN=CENTER><FONT  SIZE=4 PTSIZE=12><B>D</FONT><FONT  SIZE=3 PTSIZE=10> I S R U P T I V E </B>.<B> </FONT><FONT  SIZE=4 PTSIZE=12>B</FONT><FONT  SIZE=3 PTSIZE=10> E H A V I O R</B><BR>
______________<BR>
</P><P ALIGN=LEFT><BR>
Excerpted from the Terms of Service > Community Guidelines:<BR>
<BR>
<A HREF="aol://4344:1732.tos13.13706262.563226379">Proper Online Conduct</A></FONT><FONT  COLOR="#400080" SIZE=3 PTSIZE=10><BR>
</FONT><FONT  COLOR="#000000" SIZE=3 PTSIZE=10>You will be considered in violation of the Terms of Service if you (or others using your account) do any of the following:<BR>
<BR>
Disrupt the flow of chat in chat rooms with vulgar language, abusiveness, hitting the return key repeatedly or inputting large images so the screen goes by too fast to read, etc.  This is online vandalism, and it ruins the experience for others.<BR>
</P><P ALIGN=CENTER>__________<BR>
</P><P ALIGN=LEFT><BR>
Disruption can occur in chat rooms or on message boards. Generally, disruption is occurring if:<BR>
<BR>
	* The behavior is continually interrupting ongoing discussion.<BR>
	* Other members are asking the violating member to stop.<BR>
	* The violating member is off-topic.<BR>
	* Other members are playing copycat and causing additional disruption.<BR>
	* The violating member is using language that might be acceptable in another context, but is offensive in this context.<BR>
<BR>
<I>Scrolling can disrupt chat rooms</I>. - Typical scrolling is rapid and continual, however, seven or more lines of content can be considered a scroll even when separated by other members' chat. Graphics that exceed seven lines are also scrolls but most members don't find these disruptive. Continued scrolling of graphics can be disruptive if the members in the room are upset by them and chat is clearly being interrupted.<BR>
<BR>
<I>Suggestions designed to disrupt</I>. Telling members to press Alt+SS, or Alt+F4, (or Command+Q on a Mac) is another form of disruption. There is no reason for this "suggestion" to other members except to be a nuisance by getting unsuspecting members to sign off AOL.<BR>
<BR>
<I>Programs designed to disrupt</I>. - Promoting the use of programs designed only to disrupt other members' online experience is unacceptable.<BR>
<BR>
<I>Rolling dice can disrupt chat rooms.</I> - Dice rolling is acceptable in gaming rooms where it is part of the game. In other rooms, rolling dice can be disruptive to the room members. Be aware that when the dice are rolled, it appears as if the OnlineHost is doing this, although the member's name appears as the roller. If 123Member rolled the dice, here's what you will see on your screen:<BR>
<BR>
OnlineHost:    123Member has rolled 2 six-sided dice 6 3<BR>
<BR>
<I>Sounds can disrupt chat rooms.</I> - Members enjoy playing chat room sounds to enhance their online experience. Be aware that there is a difference between system sounds, which are built into AOL and Windows/Mac operating systems, and "voluntary sounds," which must be downloaded by the user to be heard. Repeated playing of system sounds is more disruptive than playing of voluntary sounds, since the members can choose to delete voluntary sounds from their system.<BR>
<BR>
<I>Polling can disrupt chat rooms.</I> - Polling is defined as asking members to press numbers or letters in response to questions. Polling is a form of communication, especially for many of our younger members. Like the "Age/Sex Check" it has become a way for folks to strike up a conversation. It can, however, become disruptive if members continue to poll over and over again.<BR>
<BR>
<I>Being off-topic can disrupt message boards.</I> - Off-topic posts are a nuisance for members who regularly visit a board for discussion purposes. Members want to read posts that are relevant to the topic.<BR>
<BR>
<I>Multiple posts can disrupt message boards.</I> - Multiple posting of the same message across topics or subjects on message boards, even if relevant to the topic, can be disruptive. Members who read all of the topics or subjects do not want to read the same post over and over again.<BR>
<BR>
<I>Typing in caps or uppercase letters is <B>not</B> disruptive.</I> - Many members do not see well and feel a need to use caps to read the screen. You can explain that typing in all caps is considered to be shouting online and is difficult to read, politely ask the member to lower his caps, and suggest that preferences can be changed to make the screen easier to read, but it is not a violation to type in uppercase letters.<BR>
<BR>
<I>Using a foreign language is <B>not</B> disruptive.</I> - Communication is the goal online and we don't discourage people from communicating.<BR>
<BR>
<I>Age/sex/location checks are <B>not</B> disruptive.</I> - They are considered a method of communication, a way for visitors to learn who is in the room. Often, members use age/sex/location checks as a conversation-starter. Teach the member how to join into conversations by asking questions directly and introducing themselves to others in the room. Encourage them to make use of member profiles to learn about others in the room and to start conversations with other members.<BR>
<BR>
<B>In Kids and Teens Areas</B><BR>
In Kids and Teens areas, the following behaviors are considered disruptive in chat rooms. Note that these are slightly stricter guidelines:<BR>
<BR>
	* Four or more nonconsecutive lines of unrelated chat. This generally occurs in homework help rooms where the intent of the room is not for chat, and four lines of "hello" is disruptive.<BR>
	* Three or more consecutive lines of system sounds, except where specifically permitted.<BR>
	* Three or more lines of dice rolling.<BR>
	* Three or more polling requests, or receiving seven or more answers to a polling request.<BR>
	* Four or more lines of ASCII (graphic pictures) art.<BR>
<BR>
<B>Frequently Asked Questions</B><BR>
<BR>
<I>I have seen the system boot people off when they scroll. Does the system still do that now?</I> Yes, you may see a member being punted if they try to scroll too quickly. The key here is the speed of the scrolling, not the fact that scrolling is being done.<BR>
<BR>
</P><P ALIGN=CENTER></FONT><FONT  SIZE=4 PTSIZE=12><B>H</FONT><FONT  SIZE=3 PTSIZE=10> A R A S S M E N T</B><BR>
______________<BR>
</P><P ALIGN=LEFT><BR>
Excerpted from the Terms of Service > Community Guidelines:<BR>
<BR>
<A HREF="aol://4344:1732.tos12.13706247.563226238">Appropriate Online Content</A></FONT><FONT  COLOR="#400080" SIZE=3 PTSIZE=10><BR>
</FONT><FONT  COLOR="#000000" SIZE=3 PTSIZE=10>Good judgment is important, especially when you encounter the opinions of others.  AOL doesn't endorse or oppose opinions expressed by our members, but we do sometimes take issue with the manner in which the opinion is expressed.  Hate speech is never allowed.<BR>
</FONT><FONT  COLOR="#400080" SIZE=3 PTSIZE=10><BR>
<A HREF="aol://4344:1732.tos13.13706262.563226379">Proper Online Conduct</A></FONT><FONT  COLOR="#400080" SIZE=3 PTSIZE=10><BR>
</FONT><FONT  COLOR="#000000" SIZE=3 PTSIZE=10>You will be considered in violation of the Terms of Service if you (or others using your account) do any of the following:<BR>
<BR>
Harass, threaten, embarrass, or do anything else to another member that is unwanted. This means: don't say bad things about them, don't keep sending them unwanted Instant Message(TM) notes, don't attack their race, heritage, etc. If you disagree with someone, respond to the subject, not the person.<BR>
</P><P ALIGN=CENTER>__________<BR>
</P><P ALIGN=LEFT><BR>
Harassment is a pattern of continuing unwanted comments or behavior directed at a single member or a group of members present in a room, involved in a board discussion, or via e-mail or Instant Message. Harassment via e-mail or IM must be reported by the member being harassed.<BR>
<BR>
	* Telling a member to "shut up" is not by itself harassment, even if a specific member is targeted. "Shut up" is not name-calling. <BR>
	* Be careful not to confuse disagreement or debate with harassment.<BR>
<BR>
To determine if something is unwanted, the member being harassed usually needs to indicate the attention is unwanted. There are, however, exceptions. Regardless of the response of the member being harassed:<BR>
<BR>
	* Harassment that becomes hate speech or threats of death or violence is immediately unacceptable based on the guidelines for that type of content or conduct.<BR>
	* Harassment that includes other unacceptable content, such as vulgarity, may be judged unacceptable based on the content and the fact that it is being directed at a member.<BR>
	* Harassment may become disruptive and judged unacceptable because it is interfering with other member's enjoyment of the service. Even if it isn't bothering the member being harassed, it may be bothering the other members.<BR>
	* Some members may be too upset to respond. They may stop participating instead.<BR>
<BR>
A good way to steer the conversation away from harassment is to:<BR>
<BR>
	* Always remind members about the "Ignore" feature in chat rooms, the blocking features in the Buddy List and e-mail controls, and the filtering feature on message boards. These are their most powerful tools for controlling their own online experience.<BR>
	* Remind members to debate the ideas, not each other's personalities.<BR>
	* Draw the violator's attention away from the victim and back into the room or board discussion.<BR>
<BR>
<B>Harassment Directed at Community Leaders</B><BR>
In the eyes of the members, a Community Leader is the most visible "representative" of AOL or a forum. Members may direct their anger at AOL (or products related to the service) toward you.<BR>
<BR>
If you are being harassed in IMs, use Buddy List preferences to block the member. If you are being harassed by e-mail, use mail controls to block the member.<BR>
<BR>
Generally, you should never report a member for harassing you, however, if the harassment is persistent and so overwhelming that it seriously impedes your ability to carry out your volunteer duties, it is appropriate to report the harassment.<BR>
<BR>
<B>Harassment in Kids and Teens Areas</B><BR>
As with other violations, stricter standards apply. For example, one member saying "You suck," to another member outside a Kids room would not be unacceptable by itself; you would need to see a pattern of further harassing comments. In a Kids room, however, this alone would be enough for a violation.<BR>
<BR>
<B>Frequently Asked Questions</B><BR>
<BR>
<I>If someone asks you if you wear women's clothes, and you are a man, is that harassment?</I>  A single question of that nature certainly would be a bit nosey, but in this context it is definitely not harassing.<BR>
<BR>
<I>When someone calls another a name, even if it is disguised (%^&*), isn't that harassment?</I> Calling another member a name could be harassment, however, the language used in the name-calling must be unacceptable or the member being harassed needs to show the attention is unwanted. As with any language being masked, the context must be clearly unacceptable. Just saying, "You are a %^&*" doesn't mean anything. A continuing pattern of this type of content directed at a member who clearly doesn't like the attention would be needed to prove harassment.<BR>
<BR>
</P><P ALIGN=CENTER></FONT><FONT  SIZE=4 PTSIZE=12><B>U</FONT><FONT  SIZE=3 PTSIZE=10> N A C C E P T A B L E </B>.</FONT><FONT  SIZE=4 PTSIZE=12><B> I</FONT><FONT  SIZE=3 PTSIZE=10> M A G E S </B>.<B> & </B>.</FONT><FONT  SIZE=4 PTSIZE=12><B> F</FONT><FONT  SIZE=3 PTSIZE=10> I L E S</B><BR>
______________<BR>
</P><P ALIGN=LEFT><BR>
Excerpted from the Terms of Service > Community Guidelines:<BR>
</FONT><FONT  COLOR="#400080" SIZE=3 PTSIZE=10><BR>
<A HREF="aol://4344:1732.tos12.13706247.563226238">Appropriate Online Content</A></FONT><FONT  COLOR="#400080" SIZE=3 PTSIZE=10><BR>
</FONT><FONT  COLOR="#000000" SIZE=3 PTSIZE=10><I>Nudity:</I> Photos containing revealing attire or limited nudity in a scientific or artistic context is okay in some places (not all).  Partial or full frontal nudity is not okay.<BR>
<BR>
<I>Violence and drug abuse:</I> Graphic images of humans being killed, such as in news accounts, may be acceptable in some areas, but blood and gore, gratuitous violence, etc., are not acceptable.  Discussions about coping with drug abuse in health areas are okay, but discussions about or depictions of illegal drug abuse that imply it is acceptable are not.</FONT><FONT  COLOR="#400080" SIZE=3 PTSIZE=10><BR>
<BR>
<A HREF="aol://4344:1732.tos13.13706262.563226379">Proper Online Conduct</A></FONT><FONT  COLOR="#400080" SIZE=3 PTSIZE=10><BR>
</FONT><FONT  COLOR="#000000" SIZE=3 PTSIZE=10>You will be considered in violation of the Terms of Service if you (or others using your account) do any of the following:<BR>
<BR>
Transmit or facilitate distribution of content that is harmful, abusive, racially or ethnically offensive, vulgar, sexually explicit, or in a reasonable person's view, objectionable. Community standards may vary, but there is no place on the service where hate speech is tolerated.<BR>
</P><P ALIGN=CENTER>__________<BR>
</P><P ALIGN=LEFT><BR>
Content that is unacceptable in language is unacceptable in graphic form. Unacceptable images or any other unacceptable content may be distributed in the body of e-mail, as a file attached to e-mail, as files uploaded to libraries, or as links in e-mail. As a Community Leader, you only witness distribution of unacceptable content if you receive it yourself. You may not report content received by other members; they must report it themselves. In most cases you won't actually know if an attached file violates the guidelines because you won't be downloading it to find out. If you suspect unsolicited e-mail contains unacceptable content, forward it to the appropriate mailbox and let CAT handle it.<BR>
<BR>
Unacceptable files include computer codes and viruses. AOL may not be used to transmit software viruses or any other code or files designed to disrupt, destroy, or limit computer software or hardware functionality.<BR>
<BR>
Graphical depictions of unacceptable content in chat rooms and on message boards are considered the same as if the content were in words. If the meaning is clearly unacceptable, it's unacceptable content.<BR>
<BR>
Discussions in chat rooms and on message boards regarding distribution of unacceptable content must clearly meet the guidelines for unacceptable content in order for it to be considered a violation. For example, members may indicate they are looking for GIFs, JPGs, or other graphic files. You have no idea whether or not the files are sexually explicit or otherwise offensive. A member asking if anyone has any GIFs is not violating any rules. Files described as <I>hot</I> may be a reference to the file's popularity while a member asking if anyone has any XXX GIFs is clearly looking for sexually explicit material. Remember that any content can be disruptive. A member continually asking for GIFs despite everyone else asking them to stop is causing disruption in a chat room. A member asking for GIFs on a message board may be off-topic. <BR>
<BR>
<B>Frequently Asked Questions</B><BR>
<BR>
<I>How do we know if members are sending X-rated GIFS to each other via e-mail, or downloading them from other areas?</I> You don't know. You will educate members about where to report questionable content they receive. You definitely should never download GIFs you receive or ask members to send you GIFs they receive to confirm the GIF is indeed X-rated.<BR>
<BR>
<I>What do I do when I get a IM asking if I want a sexually explicit GIF when I am not in uniform?</I> Do what any member can do. Ignoring the IM is probably the best response. If they continue to bother you, turn off your IMs for a few minutes (send an IM to $im_off member name). If they have already sent you the graphic, forward the e-mail to TOSFILES (in uniform or out).</HTML>
