@charset "utf-8";

body {

}

.entry-header {
    margin-bottom: 0px !important;
}
.entry-content {
    margin-top: 0px !important;
}
.entry-wrap {
    padding: 10px !important;
    border-radius: 2px;
}
.x-container.max {
    max-width: 100% !important;
}
.x-container.width {
    width: 100% !important;
}
.x-container.offset {
    margin: 0px auto !important;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}