	<div id="main-container">
		<div id="sidenav" class="b-white charcoal">
			<div class="rw" style="height: 60px;">
				<div id="sidenav-top" class="cl t24 h7-text charcoal pl15" style="line-height: 59px;">[PLAYER NAME]</div>
			</div>
			<ul style="margin: 0px; padding: 2px;">
				<li class="lh40 pl15 ubuntu" id="loadPlayer">Player Profile</li>
				<li class="lh40 pl15 ubuntu" id="loadCharacters">Character Sheets</li>
				<li class="lh40 pl15 ubuntu">Games</li>
				<li class="lh40 pl15 ubuntu">Settings</li>
			</ul>
		</div>
		<div id="sidenav-small" class="b-white center">
			<div class="rw" style="height: 60px !important;">
				<div class="cl t24 center pt15">
					<a id="sidenav-toggle" onclick="showNav()" class="side-icons center dk-grey"><i class="fas fa-bars"></i></a>
				</div>
			</div>
			<div class="rw">
				<div class="cl t24">
					<!--<button onclick="loadPlayer()" class="side-icons dk-grey lh40" ><i class="fas fa-user"></i></button>-->
                    <button id="loadPlayer-button" class="side-icons dk-grey lh40" ><i class="fas fa-user"></i></button>
				</div>
			</div>
			<div class="rw">
				<div class="cl t24">
					<button id="loadCharacters-button" class="side-icons dk-grey lh40" style="font-size:18px;"><i class="fas fa-file-alt"></i></button>
				</div>
			</div>
			<div class="rw">
				<div class="cl t24">
					<button id="loadGames" class="side-icons dk-grey lh40"><i class="fas fa-users"></i></button>
				</div>
			</div>
			<div class="rw">
				<div class="cl t24">
					<button id="loadSettings" class="side-icons dk-grey lh40" style="font-size:18px;"><i class="fas fa-globe"></i></button>
				</div>
			</div>
		</div>
		<div id="main-body" class="p10" onclick="">
			<div class="rw">
				<div class="cl t24 h1-text center thickFont dashboard-header t-eggshell">GEN-Cell System Dashboard</div>
			</div>
			<div class="rw">
				<div class="cl m5 t24" style="margin: 0px;">
					<div class="cl t24 p5">
						<div class="rw card-container b-white p5">
							<div class="cl t24 card-header b t-blue ubuntu">CHARACTER INFORMATION</div>
							<div class="cl t24 card-body p10">
								<div class="cl t8 lh40 h1-text">13</div>
								<div class="cl t16 lh40 h8-text text-right">Number of Characters</div>
								<div class="cl t24 lh10">&nbsp;</div>
								<div class="cl t24 text-right">
									<button class="btn primary" onclick="gccModal('','characterCreation','',contentDialogs.characterCreation1)">CREATE NEW CHARACTER</button>
								</div>
							</div>
							<div class="cl t24 card-footer"></div>
						</div>
					</div>
					<div class="cl t24 p5">
						<div class="rw card-container b-white p5">
							<div class="cl t24 card-header b t-blue ubuntu">CHARACTER INFORMATION</div>
							<div class="cl t24 card-body p10">
								<div class="cl t8 lh40 h1-text">13</div>
								<div class="cl t16 lh40 h8-text text-right">Number of Characters</div>
								<div class="cl t24 lh10">&nbsp;</div>
								<div class="cl t24 text-right">
									<button class="btn primary" onclick="characterModalRequested(this)">CREATE NEW CHARACTER</button>
								</div>
							</div>
							<div class="cl t24 card-footer"></div>
						</div>
					</div>
					<div class="cl t24 p5">
						<div class="rw card-container b-white p5">
							<div class="cl t24 card-header b t-blue ubuntu">CHARACTER INFORMATION</div>
							<div class="cl t24 card-body p10">
								<div class="cl t8 lh40 h1-text">13</div>
								<div class="cl t16 lh40 h8-text text-right">Number of Characters</div>
								<div class="cl t24 lh10">&nbsp;</div>
								<div class="cl t24 text-right"><button class="btn primary">CREATE NEW CHARACTER</button></div>
							</div>
							<div class="cl t24 card-footer"></div>
						</div>
					</div>
					<div class="cl t24 p5">
						<div class="rw card-container b-white p5">
							<div class="cl t24 card-header b t-blue ubuntu">CHARACTER INFORMATION</div>
							<div class="cl t24 card-body p10">
								<div class="cl t8 lh40 h1-text">13</div>
								<div class="cl t16 lh40 h8-text text-right">Number of Characters</div>
								<div class="cl t24 lh10">&nbsp;</div>
								<div class="cl t24 text-right"><button class="btn primary">CREATE NEW CHARACTER</button></div>
							</div>
							<div class="cl t24 card-footer"></div>
						</div>
					</div>
				</div>
				<div class="cl m19 t24">
					<div class="cl t24 p5">
						<div class="rw card-container b-white p5">
							<div class="cl t24 card-header t-blue ubuntu">Rulebook</div>
							<div id="main-content" class="cl t24 card-body p10"></div>
							<div class="cl t24 card-footer"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="gccModal" class="gccModal"></div>